.header
  .header__left
    .header__left__name 
      mm
    .header__left__icon
      =fa_icon"edit"
      =fa_icon"cog"
  .header__right
    .header__right__name
      gg
    .header__right__member  
      %li Member :
      %li.name tttt
    .header__right__bruebox
      Edit
.contents 
  .contents__left
    .contents__left__name
      gg
    .contents__left__name__text
      www
  .contents__right
    .contents__right__text
      %li text-user
      %li.fff 2019/08/21
    .contents__right__text-details
      こんにちは!
    .contents__right__bottom
      .contents__right__bottom__box
        .contents__right__bottom__box__text
          type a message
        .contents__right__bottom__box__icon
          =fa_icon "image"
    .contents__right__bottom__minibox
      Send

