<div class='contents__right'>
<div class='contents__right__text'>
<li>
<%= message.user.name %>
</li>
<li class='fff'>
<%= message.created_at.strftime("%Y/%m/%d %H:%M")%>
</li>
</div>
<div class='contents__right__text-details'>
<p class='contents__right__text-details__a'>
<%= message.content%>
</p>
<img src= "<%= message.image.url %>", class= 'lower-message__image'/>
</div>
</div>
